@model IEnumerable<TimesheetApp.Web.Models.Timesheet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MinutesWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MinutesWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.BillingAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimesheetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TimesheetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TimesheetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
